# CONFIGURATION FILE - define all global variables here
 
import os, sys
 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
###

# Minecraft Server VARs
SVRFILENAME = 'server1.13.jar'
SVRPATH = '/home/minecraft/mineserver/'
SVRMAPDIR = 'world_1.7.4' 
SVRBKPDIR = 'ext_bkp'
SVRMAPATH = SVRPATH+SVRMAPDIR
SVRUSBPATH = SVRPATH+SVRBKPDIR
LOCKCOPY = False
####

# APScheduler - Settings
DAYTOSTOP = 'Wed'
DAYS = 'mon-sun'
HOUR = 23
MIN = 59
####

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = '\xfe\xc5\x1c\x83%n\xbe}\x91\xec\x1d\xd4\x19i\xef2\x0c5:$\x18\x80\xfd\xab'
USERNAME='minecheck'
PASSWORD='4dminewowserverraid01'
DEBUG = True
###

# Mysql connection variables
DBUSER="python"
DBPASSWORD="mineverseisSMALLin2018"
DBHOST="localhost"
DBDATABASE="minecraft_bkp"
####

### TWEAKS ###

# possible to grab SVRMAPDIR from server.properties

# command to mount the USB drive
# mount /dev/sda1 /home/minecraft/mineserver/ext_bkp/ -o uid=1000,gid=1000,umask=007
# it mounts as user minecraft and group minecraft and set the mask to 770
##############